<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FairyHome.QinLove.Mapper.DeptMapper">

    <insert id="insert"  parameterType="dept" >
        insert into dept(deptname,dbsource) values(#{deptname},database());
    </insert>
    <select id="selectAll" resultType="dept" >
        select   * from dept;
    </select>
    <select id="selectById" resultType="dept" parameterType="long">
        select  * from dept where  deptid = #{deptid};
    </select>
</mapper>